{% url 'dashboard-index' as path_to_dashboard %}

<!-- <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 200px; height: 100vh;"> -->
<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 200px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-4">LEXEnprise</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="{{ path_to_dashboard }}" class="nav-link text-white" aria-current="page">
                Dashboard
            </a>
        </li>
        <li>
            <a href="{% url 'client-index' %}" class="nav-link text-white">
                Clients
            </a>
        </li>
        <li>
            <a href="{% url 'folder-index' %}" class="nav-link text-white">
                Case Folders
            </a>
        </li>
        <li>
            <a href="{% url 'matter-list' %}" class="nav-link text-white">
                Engagements
            </a>
        </li>
        <li>
            <a href="{% url 'invoice-index' %}" class="nav-link text-white">
                Billings & Payments
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                Filing Fees & Misc. Expenses
            </a>
        </li>
        <li>
            <a href="{% url 'reference-index' %}" class="nav-link text-white">
                Reference Lookup Codes
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                TM WatchList
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                System Administrator
            </a>
        </li>
    </ul>
    <hr>
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img src="D:\\Web_App\\Production\\lexenprise\\lexcore\\static\\assets\\images\\mypic.png" alt="" width="32"
                height="32" class="rounded-circle me-2">
            <strong>mdo</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
    </div>
</div>