asgiref==3.7.2
colorama==0.4.6
Django==4.2.6
django-countries==7.5.1
django-jazzmin==2.6.0
gunicorn==20.1.0
Pillow==10.0.1
psycopg2==2.9.9
pypng==0.20220715.0
python-dotenv==1.0.0
qrcode==7.4.2
sqlparse==0.4.4
typing-extensions==4.8.0
tzdata==2023.3
whitenoise==6.4.0
